body {
    margin: 0;
    background-color: rgba(0,0,0,0.2);
}

kbd {
    font-size: 44px;
    color: black;
}

.keyRow {
    width: max-content;
    margin: auto;
    margin-top: 150px;
}

.key {
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    
    border: 3px solid black;
    border-radius: 10px;
    color: darkviolet;
    text-align: center;
    transition: all 0.15s;
}

.playing {
    transform: scale(1.2);
    background-color: rgba(5,5,0,0.3);
    border-color: gold;
    box-shadow: 0 0 10px gold;
}

.playing kbd {
    color: gold;
}

.playing p {
    color: gold;
}