body {
    margin: 0;
}

.keyRow {
    width: max-content;
    margin: auto;
    margin-top: 150px;
}

.key {
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    background-color: rgba(0,0,0,0.4);
    border: 3px solid black;
    border-radius: 10px;
    color: aquamarine;
    text-align: center;
    transition: all 0.07s;
}

.playing {
    transform: scale(1.1);
    background-color: peru;
}